*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    width: 100%;
    height: 100%;
    /* background-color: red; */
}
.back{
    background-color: rgb(195, 194, 194);
    height: 105vh;
    width: 98.80vw;
    border: 20px solid black;
    border-bottom: none;
    border-right:20px solid yellow;
    border-left:20px solid  yellow;
    /* background:url("background.jpg") */
    
    
}
.header{
    background-color: rgb(218, 212, 212);
    /* width: 212.59vh; */
    width: 100%;
    height: 10vh;
    display: flex;
    margin-top:3px;
    align-items: center;
    justify-content:space-between;
    padding: 1vh 0 1vh 4vh;
    /* position:fixed; */
}
.logo_hai{
    width: 15vh;
    height: 10vh;
    object-fit: cover;
    cursor:pointer;
}
.items{
    /* background-color: brown; */
    width: 90vh;
    height: 6vh;
    /* background-color: red; */
    display: flex;
    align-items: center;
    margin-right:1px;
    justify-content: space-between;
    text-transform: capitalize;

}
.item1{
    font-size: 3vh;
    font-weight: 500;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    /* transition-property:; */
    /* transition-duration: 1s;
    transition-delay: 0.10s;
    transition-timing-function: ease-in; */
    /* border:2px solid black; */
    
}
#option{
    width:17vh;
    height:5vh;
    text-align:center;
    /* border:2px solid red; */
    border-width:4px;
    border-radius:15px;
    background-color:aliceblue;
}


.item1 a{
    text-decoration: none;
    color: black;

}
.item1:hover{
    border-bottom:red 3px solid;
    background-color: white;
    border-radius: 8px;
    transform: scale(1.1,1.1);
    transition: all 0.2 ease 1s;
    /* color: yellow; */
    cursor: pointer;
}
.items:hover{
    /* border-bottom:red 3px solid; */
    /* background-color: yellow; */
    border-radius: 8px;
    color: yellow;
    cursor: pointer;
}

.parent-serach-food-lable{
      width: 100%;
      height: 12vh;
      /* background-color: blueviolet; */
      position:relative;
      top: 4px;

}



.search{
    width: 70vh;
    height: 7vh;
    background: none;
    border:none;
    border: 2px solid black;
    /* border-left: none; */
    padding: 5px;
    padding-left: 30px;
    font-size: 3vh;
    color:black;
    background-color: rgba(179, 184, 187, 0.356);
}

.option-ka-malik{
    height: 7vh;
    /* background-color: green; */
    padding-left: 2px;
    /* margin-left: ; */
}

.city{
    height: 7vh;
    background: none;
    border: none;
    border: 2px solid black;
    border-right: none;
    border-top-left-radius:4px;
    border-bottom-left-radius:4px;
    font-weight: 600;
    font-size: 15px;
    padding: 5px;
    cursor:pointer;
    background-color: rgba(141, 187, 187, 0.38);
}

.search-karo{
    width: 150vh;
    height: 130px;
    /* background-color: aliceblue; */
    position: relative;
    margin-left: 240px;
    top: 2px;
}

.search-icon{
    width:6vh;
    height: 7vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    border: 2px solid black;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    border-left: none;
    background-color: rgba(255, 255, 0, 0.444) ;
   cursor: pointer;
}

.select-option{
    display: flex;
    width: 140vh;
    height: 60px;
    /* background-color: red; */
    align-items: center;
    justify-content: center;
}

.ri-menu-add-line{
    /* background-color: red; */
    margin-right: 60px;
    font-size: 25px;
    color: black;
    font-weight: 800;
    display: none;
}

@media (max-width:770px){
    .items{
        width:60vh;
        height: 4vh;
        margin-right: 1vh;
    }
    .item1{
        font-size:2vh;
    }
    #option{
        width: 12vh;
        height: 3vh;
        border-width: 3px;
    }
    .logo_hai{
        width: 12vh;
        height: 7vh;
        object-fit: cover;
    }
    .header{
        height: 9vh;
    }
}

@media(max-width:600px){
    .items{
         width: 50vh;
         height: 3vh;
         margin-right: 5vh;
    }
    .item1{
        font-size: 15px;
        font-weight: 400;

    }
}

@media(max-width:610px){
    .ri-menu-add-line{
        display:block;
        color: black;
        cursor: pointer;
        margin-right: 40px;
    }
    .items{
        display: none;
    }
}
@media(max-width:1210px){
    .search-karo{
        margin-left: 100px;
        width: 105vh;
    }
    .select-option{
        width: 100vh;
    }
}
@media(max-width:915px){
    .search{
        width: 50vh;
        height: 6vh;
    }
    .city{
        height: 6vh;
        margin-top: 4px;
        padding: 5px;
    }
    .search-icon{
        height: 6vh;
    }
}
@media(max-width:755px){
    .search-karo{
        margin-left: 30px;
        width: 85vh;
    }
    .select-option{
        width: 85vh;
    }
}
@media(max-width:690px){
    .search{
        width: 40vh;
        height: 5vh;
    }
    .city{
        width: 90px;
        height: 5vh;
        margin-top: 8px;
        padding: 5px;
    }
    .search-icon{
        height: 5vh;
    }
}
@media(max-width:635px){
    .search-karo{
        margin-left: 10px;
        width: 70vh;
    }
    .select-option{
        width:70vh;
    }
}
@media(max-width:555px){
    .search{
        width: 20vh;
        height: 4vh;
        font-size: 18px;
        padding: 5px;
    }
    .city{
        width: 90px;
        height: 4vh;
        margin-top: 11px;
        padding: 5px;
    }
    .search-icon{
        height: 4vh;
        width: 45px;
        padding: 5px;
    }
}
@media(max-width:345px){
    .search-karo{
        margin-left: 15px;
        width: 60vh;
    }
    .select-option{
        width: 38vh;
    }
}
.parent-slide{
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.slide{
    position: relative;
    height: 30rem;
    width: 64rem;
    /* border: 2px solid black; */
    background-image:url("1.webp");
    background-position: center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    animation: slider 20s linear infinite;
    /* transition: all 0.2s ease-in 1s; */
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
    /* box-shadow: 2px 2px 10px 5px black; */
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    cursor: pointer;
}


@keyframes slider{
    0%{
      background-image: url("1.webp");
    transition: all 0.2s ease-in 10s;
    }
    30%{
        background-image: url("2.jpg");
        transition: all 0.2s ease-in 10s;
    }
    60%{
        background-image: url("3.jpg");
        transition: all 0.2s ease-in 10s;
    }
    80%{
        background-image: url("4.webp");
        transition: all 0.2s ease-in 10s;
    }
    100%{
        background-image: url("5.webp");
        transition: all 0.2s ease-in 10s;
    }

}
@media(max-width:630px) {
    .slide{
        width:40rem ;
        height: 18rem;
    }
    
}
@media(max-width:790px) {
    .slide{
        width:50rem ;
        height: 25rem;
    }
    
}



